<div class="wrapper">
  <header>
    <h1>SpaceX Launch Program</h1>
  </header>
  <main>
    <div class="main-container">
      <div class="sidebar-container">
        <app-sidebar></app-sidebar>
      </div>
      <div class="card-container">
      <div class="cards_wrap">
        <ng-container *ngFor="let data of cards">
          <div class="card_item" [attr.aria-label]="data.mission_name+ ' #'+data.flight_number" tabindex="0">
            <app-card [data]='data'></app-card>
          </div>
        </ng-container>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <h4>Developed By : Shashank Gupta</h4>
  </footer>
</div>