<div class="left-panel" aria-label="Left Panel">
  <h4>Filter</h4>
    <div *ngFor="let item of FILTERS | keyvalue: keepOrder">
        <span class="filter-title">{{item.value['label']}}</span>
        <hr />
        <div class="filter-opt">
          <span [attr.aria-label]="item.value['label'] + ' ' + val" tabindex="0" (click)="onBadgeClick(item.key, val)" class="badge badge-success" [ngClass]="{'selected-badge': (selectedBadge[item.key] && selectedBadge[item.key] === val)}" *ngFor="let val of item.value['data']">{{val}}</span>
        </div>
    </div>
</div>